.checkboxSpace {
  margin-right: 30px;
}

.nerdyCheckbox {
  color: white;
}

label {
  color: #000;
}

.checkboxColor[type='checkbox']:checked + label:before {
  border: 2px solid transparent;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  background: transparent;
}
